<div id="head">
  <div class="jumbotron container">
   <h5><b>EDIT FACULTY</b></h5> 
  </div>
  </div>
  <form id="fbox" [formGroup]="signUpForm">
  
      <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label"><h5>NAME</h5></label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
          </div>
          <span *ngIf="! signUpForm.get('name').valid && signUpForm.get('name').touched" class="help-block" > <p [ngStyle]="{ color: 'Tomato' } "> Enter a valid Name</p></span>
      </div>
  
      <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label"><h5>STAFFID</h5></label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="staffid" placeholder="staffid" formControlName="staffid">
              </div>
              <span *ngIf="! signUpForm.get('staffid').valid && signUpForm.get('staffid').touched" class="help-block" > <p [ngStyle]="{ color: 'Tomato' } "> Enter a valid StaffId</p></span>
      </div>
  
      <div class="form-group row">
           <label for="dateofbirth" class="col-sm-2 col-form-label"><h5>Date Of Birth</h5></label>
           <div class="col-sm-5">
           <input type="date" class="form-control" id="dateofbirth" formControlName="dateofbirth"  [ngModel] ="eFaculty.dateofbirth | date:'yyyy-MM-dd'">
           </div>
           <span *ngIf="! signUpForm.get('dateofbirth').valid && signUpForm.get('dateofbirth').touched" class="help-block" > <p [ngStyle]="{ color: 'Tomato' } "> Enter a valid DOB</p></span>
      </div>
  
      <div class="form-group row">
          <label for="gender" class="col-sm-2 col-form-label"><h5>Gender</h5></label>
          <div class="col-sm-5">
              <div class="select-style">
                  <select name="gender" id="gender"  class="form-control" formControlName="gender">
                  <option *ngFor="let gender of genders">{{gender}}</option>
                  </select>
              </div>   
          </div>
          <span *ngIf="! signUpForm.get('gender').valid && signUpForm.get('gender').touched" class="help-block" > <p [ngStyle]="{ color: 'Tomato' } ">Select a gender</p></span>
     </div>
  
      
      <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label"><h5>PASSWORD</h5></label>
          <div class="col-sm-5">
          <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
          </div>
          <span  class="help-block"><p [ngStyle]="{ color: 'Tomato' } ">Enter a new password else dont change the field</p></span>
          <span *ngIf="! signUpForm.get('password').valid && signUpForm.get('password').touched" class="help-block" > <p [ngStyle]="{ color: 'Tomato' } "> Enter a valid Password</p></span>
     </div>
      
       <div class="form-group row">
         <label for="email" class="col-sm-2 col-form-label"><h5>EMAIL ID</h5></label>
         <div class="col-sm-5">      
         <input type="email" class="form-control" id="email" placeholder="email id" formControlName="email">
             </div>
              <span *ngIf="! signUpForm.get('email').valid && signUpForm.get('email').touched" class="help-block" > <p [ngStyle]="{ color: 'Tomato' } "> Enter a valid email</p></span>
      </div>
  
      <div class="form-group row">
       <label for="name" class="col-sm-2 col-form-label"><h5>Phone</h5></label>
       <div class="col-sm-5">
         <input type="text" class="form-control" id="phonenumber" placeholder="phonenumber" formControlName="phonenumber">
       </div>
         <span *ngIf="! signUpForm.get('phonenumber').valid && signUpForm.get('phonenumber').touched" class="help-block" > <p [ngStyle]="{ color: 'Tomato' } "> Enter a valid phonenumber</p></span>
          </div>
          <span *ngIf="!fstate" class="help-block"><p [ngStyle]="{ color: 'Tomato' } ">Please Enter valid information in the Fields</p></span>
      <div id="btnbox"> <button type="button" class="btn btn-info" id="loginbtn" (click)="makeEdit()">SUBMIT</button></div>
  </form> 