<div id="head">
  <div id="head" class="jumbotron container">
   <h5><b>STUDENTS</b></h5> 
</div>
</div>

<div class="container">
  <div class="row">
        <div class="col-md-4">
            <div class="input-group col-md-12">
                    <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchText"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">
                            <i class="fa fa-search fa-1x"></i>
                        </button>
                    </span>
                </div>
        </div>
        <div class="col-md-4">
                <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Search by admission number" [(ngModel)]="adnum"/>
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button">
                                <i class="fa fa-search fa-1x"></i>
                            </button>
                        </span>
                    </div>
            </div>
        <div class="col-md-4">
        <button class="btn btn-info" id="newFaculty" (click)='AddStudent()'> <i class="fa fa-plus" aria-hidden="true"></i> Add new Student </button>
        </div>
  </div>
</div>

<br>

<div class="container">
    
<div  id="card" *ngFor="let student of students | filter : searchText | adfilter : adnum">
<div class="card  bg-secondary text-white" style="width: 170px;">
        <div class="card-header"><i class="fa fa-user" aria-hidden="true"></i>{{student.name}}</div>
    <div class="card-body">
        <p><i class="fa fa-calendar" aria-hidden="true"></i>{{student.dateofbirth | date: 'dd/MM/yyyy'}}</p>
        <p> <i class="fa fa-phone" aria-hidden="true"></i>{{student.phonenumber}}</p>
       <div class="row"> 
      <div class="col-5">  <button class="btn btn-sm btn-primary" (click)="editStudent(student)"><i class="fa fa-edit" aria-hidden="true"></i>Edit</button></div>
     <div class="col-5">   <button class="btn btn-danger btn-sm" (click)="deleteStudent(student._id)"><i class="fa fa-trash" aria-hidden="true"></i>Remove</button></div>
    </div>
</div>
</div>
</div>
</div>